/* Universal Styles */

html {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

body {
  width: 1280px;
  border: 0;
}

h1 {
  font-weight: bold;
  line-height: 3.2;
  color: #323232;
}
.main-content {
  position: relative;
  top: 5.3125rem; /* To offset for fixed header. */
}

.content {
  text-align: left;
}

.button {
  border-radius: 4px;
  background-color: #4a4a4a;
  color: white;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
}

a {
	color: #464646;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #000099;
}

@media only screen and (max-width: 760px) {
  .main-content {
    top: 2.5625rem;
  }
}

/* Header */

header {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1;
  height: 3.2rem;
  display: flex;
  align-items: center;
  padding-left: 1.6rem;
  padding-right: 1.2rem;
}

header .content {
  display: flex;
  align-items: center;
  line-height: 1.6;
  flex: 1;
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo span {
  color: Black;
  font-weight: bold;
  letter-spacing: normal;
}

header .logo .desktop {
  color: gray;
  letter-spacing: .1rem;
}

header .icon {
  width: auto;
  line-height: 1.6;
}

header .desktop ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header .desktop li {
  display: flex;
  line-height: 1.6;
  font-size: 1rem;
  color: black;
}

header .mobile {
  display: none;
}

@media only screen and (max-width: 460px) {
  header .desktop {
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  header .content {
    padding: .5rem 0;
    height: 1.6rem;
    display: flex;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  header .mobile li {
    padding: 1.5rem;
    line-height: 1.6;
  }
}

/* Header Banner Section */

#header-section {
  display: flex;
  width: 100%;
  height: 30rem;
}

#header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner .header-image {
  padding: 1.6rem 1.2rem;
  width: 60%;
}

/*content*/
#online {
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 20%;
  width: 100%;
  height: auto;
  background-color: #e5e5e5;
}

.course {
  background-color: white;
}
